html {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

body {
  margin: 0;
}

/*=============Header=============*/
.header-area {
  width: 100%;
  height: 150px;
  background-image: url("../images/back-v.jpg");
  background-position: center;
  background-size: cover;
}

.div-relative {
  position: relative;
  width: 100%;
  height: 150px;
}

.link-image {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  right: 0px;
}

.placa-image {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 140px;
  z-index: 10;
}

@media (min-width: 240px) {
  .logo-image {
    width: 95%;
    max-width: 350px;
    height: auto;
    margin: auto;
    transform: rotate(-2deg);
    position: absolute;
    top: 0px;
    z-index: 7;
  }
}

@media (min-width: 320px) {
  .logo-image {
    width: 85%;
    max-width: 350px;
    height: auto;
    margin: auto;
    transform: rotate(-2deg);
    position: absolute;
    top: 0px;
    z-index: 7;
  }
}

@media (min-width: 400px) {
  .logo-image {
    width: 70%;
    max-width: 350px;
    height: auto;
    margin: auto;
    transform: rotate(-2deg);
    position: absolute;
    top: 0px;
    z-index: 7;
  }
}

.hojai-image {
  width: 140px;
  height: 90px;
  position: absolute;
  top: 60px;
  margin-right: auto;
  margin-top: auto;
  z-index: 6;
}

.hojad-image {
  width: 140px;
  height: 90px;
  position: absolute;
  top: 60px;
  right: 0px;
  margin-left: auto;
  z-index: 5;
}

/*=============Menu=============*/
.menu-area {
  width: 100%;
  height: auto;
  margin-bottom: auto;
}

.menu-div {
  padding: 15px;
}

.link-button {
  padding: auto;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.menu-button {
  background-color: #fa4d31;
  color: #feef52;
  border: none;
  width: 85%;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.grid-container-icons {
  display: grid;
  width: 85%;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}

.link-img {
  padding: auto;
  width: 100%;
  text-decoration: none;
}

.link-scl {
  padding: auto;
  width: 100%;
  text-decoration: none;
}

.menu-img {
  background-color: #fa4d31;
  float: right;
  border: none;
  width: 36px;
  border-radius: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 4px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.menu-scl {
  background-color: #fa4d31;
  border: none;
  width: 36px;
  border-radius: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 4px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.menu-button:hover {
  background-color: #fd553b;
}

.drink-area-alimentos {
  width: 100%;
  height: auto;
  position: relative;
}

.drink-div {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}

.drink-area-alimentos-2 {
  width: 100%;
  height: auto;
}

.placa-image-drink {
  width: 100%;
  height: 10px;
  position: absolute;
  z-index: 10;
  margin-top: -8px;
}

/*=============Index=============*/
.index {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #ffb94f;
  background-image: url("../images/back-h.jpg");
  background-size: cover;
}

/*=============Drink=============*/
.drink-area {
  width: 100%;
  height: auto;
  position: relative;
}

/*=============Navbar=============*/
.navbar-area {
  width: 100%;
  height: 50px;
  background-color: #ffb94f;
}

.grid-container-navbar {
  display: grid;
  width: 100%;
  height: auto;
  margin: auto;
  grid-template-columns: 1fr 3fr 1fr;
}

.grid-container-navbar-sec {
  display: grid;
  width: 85%;
  height: 50px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
}

.navbar-icon {
  width: 35px;
  height: 35px;
  padding: 4px;
  margin-top: 3.5px;
  background-color: #fa4d31;
  border-radius: 5px;
}

.menu-scl-nav {
  width: 35px;
  height: 35px;
  padding: 4px;
  margin-top: 3.5px;
  background-color: #fa4d31;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*=============Footer=============*/
@media (min-height: 240px) {
  .footer-1 {
    width: 100%;
    position: relative;
    bottom: 0px;
  }
}

@media (min-height: 720px) {
  .footer-1 {
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
}

@media (min-height: 240px) {
  .footer-2 {
    width: 100%;
    position: relative;
    bottom: 0px;
  }
}

@media (min-height: 600px) {
  .footer-2 {
    position: relative;
    width: 100%;
    bottom: 0px;
  }
}

@media (min-height: 240px) {
  .footer-3 {
    width: 100%;
    position: relative;
    bottom: 0px;
  }
}

@media (min-height: 520px) {
  .footer-3 {
    position: relative;
    width: 100%;
    bottom: 0px;
  }
}

.footer-area {
  width: 100%;
  height: 110px;
  margin-top: auto;
  margin-bottom: 0px;
  background-image: url("../images/back-v.jpg");
  background-position: center;
  background-size: cover;
}

.div-relative-footer {
  position: relative;
  width: 100%;
  height: 110px;
}

.direccion-image {
  width: 42%;
  position: absolute;
  max-width: 190px;
  height: auto;
  right: 20px;
  top: 30px;
  margin-left: auto;
  z-index: 12;
}

@media (min-width: 240px) {
  .cotorrito-image {
    width: 125px;
    height: auto;
    margin-right: auto;
    position: absolute;
    top: 19px;
    z-index: 11;
  }
}

@media (min-width: 320px) {
  .cotorrito-image {
    width: 145px;
    height: auto;
    margin-right: auto;
    position: absolute;
    top: 5px;
    z-index: 11;
  }
}

.hojai-image-footer {
  width: 90px;
  height: 70px;
  position: absolute;
  top: 40px;
  margin-right: auto;
  margin-top: auto;
  z-index: 6;
}

.hojad-image-footer {
  width: 90px;
  height: 60px;
  position: absolute;
  top: 50px;
  right: 0px;
  margin-left: auto;
  z-index: 5;
}

.placa-image-footer {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0px;
  z-index: 10;
}

/*=============Popup=============*/
.popup1-section {
}

.popup1-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  animation: modal 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
}

.popup1-content {
  width: 100%;
  height: auto;
  max-height: 95vh;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;
}

@media all and (orientation: landscape) {
  .popup1-content {
    width: 66vh;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.popup1-image {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 8px;
}

#cerrar:checked + label,
#cerrar:checked ~ .popup1-modal {
  display: none;
}

#cerrar {
  display: none;
}

#cerrar + label {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 101;
  animation: modal 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
}

.popup1-close {
  width: 32px;
  transition: 0.2s;
  cursor: pointer;
}

.popup1-close:hover {
  width: 35px;
}

.popup1-menu {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 30%;
  z-index: 102;
  font-size: 32px;
  background-color: transparent;
  width: 40%;
  height: 9%;
  cursor: pointer;
}

@keyframes modal {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/*=============Popup=============*/
.popup2-section {
}

.popup2-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  animation: modal2 0.5s;
  animation-delay: 45s;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
}

.popup2-content {
  width: 100%;
  height: auto;
  max-height: 95vh;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;
}

@media all and (orientation: landscape) {
  .popup2-content {
    width: 66vh;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.popup2-image {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 8px;
}

#cerrar2:checked + label,
#cerrar2:checked ~ .popup2-modal {
  display: none;
}

#cerrar2 {
  display: none;
}

#cerrar2 + label {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 101;
  animation: modal2 0.5s;
  animation-delay: 45s;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
}

.popup2-close {
  width: 32px;
  transition: 0.2s;
  cursor: pointer;
}

.popup2-close:hover {
  width: 35px;
}

.popup2-menu {
  position: fixed;
  margin: auto;
  top: 47%;
  left: 30%;
  z-index: 102;
  font-size: 32px;
  background-color: transparent;
  width: 40%;
  height: 9%;
  cursor: pointer;
}

@keyframes modal2 {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/*=============Video=============*/
.video-section {
  width: 100%;
  height: auto;
  position: absolute;
}

.video-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  transition: 1s;
}

.video-popup {
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.video-content {
  position: absolute;
  left: 0px;
  top: -100vh;
  height: auto;
  min-height: 100vh;
  width: 100%;
  transition: top 1s ease;
  z-index: 100;
}

.video-content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#video-checkbox {
  position: absolute;
  left: -10vw;
  top: 40vh;
}

#video-checkbox:checked ~ header .video-content,
.video-content[aria-expanded="true"] {
  left: 0px;
  top: 0px;
  outline: none;
  transition: 1s;
}

#video-checkbox:checked ~ header .video-section,
.video-content[aria-expanded="true"] .video-section {
  opacity: 1;
  transition: 1s;
  display: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@media (min-height: 240px) {
  .menu-star-img {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0px;
  }
}

@media (min-height: 720px) {
  .menu-star-img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 110px;
  }
}

.menu-close-img {
  width: 200px;
  height: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 110;
}
